.person-card {
  margin: 20px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

::ng-deep .person-table {
  width: 100%;

  th.mat-header-cell {
    background: #fafafa;
    font-weight: 600;
  }

  td.mat-cell {
    padding: 8px 16px;

    button.mat-icon-button {
      width: 28px;
      height: 28px;
      line-height: 28px;

      border: 1px solid #ccc;
      border-radius: 6px; 
      margin-left: 4px;

      mat-icon {
        font-size: 16px;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.14);
      }
    }
  }
}

mat-card-title {
    padding: 20px
}

.add-person-container {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 12px;

  input {
    flex: 1;
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .error-text {
    color: #d32f2f;
    font-size: 12px;
  }
}

.small-icon-btn {
  width: 28px !important;
  height: 28px !important;
  line-height: 28px;

  border: 1px solid #ccc;
  border-radius: 6px;
  margin-left: 4px;

  mat-icon {
    font-size: 16px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.14);
  }
}